<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.addFull()" shiro:hasPermission="module:financeItems:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="module:financeItems:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('module:financeItems:edit')}]];
        var removeFlag = [[${@permission.hasPermi('module:financeItems:remove')}]];
        var financeType = [[${@dict.getType('financeType')}]];
        var prefix = ctx + "module/financeItems"

        $(function() {
            var options = {
            	search: false,
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "财务科目",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '财务科目ID' 
				},
				{
					field : 'name', 
					title : '名称' 
				},
				{
					field : 'type', 
					title : '科目类型',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(financeType, value);
		            }
				},
				{
					field : 'itemTypeId', 
					title : '子类别',
					align: 'center',
		            formatter: function(value, row, index) {
        				var itemTypeList = [[${itemTypeList}]];
		            	for(var n=0; n<itemTypeList.length; n++){
		            		if(itemTypeList[n].id == row.itemTypeId){
		            			return itemTypeList[n].name;
		            		}
		            	}
		            	return "";
		            }
				},
				{
					field : 'descn', 
					title : '描述' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="#" onclick="view(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a> ');
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        /*操作-详细*/
		function view(id) {
		    var url = prefix + '/view/' + id;
		    $.modal.openFull("科目详细", url);
		}
    </script>
</body>
</html>