<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.borrows.mapper.BorrowsMapper">
    
    <resultMap type="Borrows" id="BorrowsResult">
        <result property="id"    column="id"    />
        <result property="amount"    column="amount"    />
        <result property="audStatus"    column="aud_status"    />
        <result property="borrowNum"    column="borrow_num"    />
        <result property="createDate"    column="create_date"    />
        <result property="payDate"    column="pay_date"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="purpose"    column="purpose"    />
        <result property="repayDate"    column="repay_date"    />
        <result property="repayStatus"    column="repay_status"    />
        <result property="borrowerId"    column="borrower_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="treasurerId"    column="treasurer_id"    />
        <result property="residualAmount"    column="residual_amount"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectBorrowsVo">
        select id, amount, aud_status, borrow_num, create_date, pay_date, pay_status, purpose, repay_date, repay_status, borrower_id, project_id, treasurer_id, residual_amount, status, create_by, create_time, update_by, update_time, remark from borrows
    </sql>
	
    <select id="selectBorrowsList" parameterType="Borrows" resultMap="BorrowsResult">
        <include refid="selectBorrowsVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="amount != null and amount != ''"> and amount = #{amount}</if>
             <if test="audStatus != null and audStatus != ''"> and aud_status = #{audStatus}</if>
             <if test="borrowNum != null and borrowNum != ''"> and borrow_num = #{borrowNum}</if>
             <if test="createDate != null"> and create_date = #{createDate}</if>
             <if test="payDate != null"> and pay_date = #{payDate}</if>
             <if test="payStatus != null and payStatus != ''"> and pay_status = #{payStatus}</if>
             <if test="purpose != null and purpose != ''"> and purpose = #{purpose}</if>
             <if test="repayDate != null"> and repay_date = #{repayDate}</if>
             <if test="repayStatus != null and repayStatus != ''"> and repay_status = #{repayStatus}</if>
             <if test="borrowerId != null and borrowerId != ''"> and borrower_id = #{borrowerId}</if>
             <if test="projectId != null and projectId != ''"> and project_id = #{projectId}</if>
             <if test="treasurerId != null and treasurerId != ''"> and treasurer_id = #{treasurerId}</if>
             <if test="residualAmount != null and residualAmount != ''"> and residual_amount = #{residualAmount}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null"> and update_time = #{updateTime}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectBorrowsById" parameterType="Integer" resultMap="BorrowsResult">
        <include refid="selectBorrowsVo"/>
        where id = #{id}
    </select>
    <!-- 查询借款单号 -->
    <select id="findByBorrowsNum" parameterType="String" resultMap="BorrowsResult">
        <include refid="selectBorrowsVo"/>
        where borrow_num like #{str}
    </select>
        
    <insert id="insertBorrows" parameterType="Borrows">
        insert into borrows
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="amount != null and amount != '' ">amount,</if>
			<if test="audStatus != null and audStatus != '' ">aud_status,</if>
			<if test="borrowNum != null and borrowNum != '' ">borrow_num,</if>
			<if test="createDate != null">create_date,</if>
			<if test="payDate != null">pay_date,</if>
			<if test="payStatus != null and payStatus != '' ">pay_status,</if>
			<if test="purpose != null and purpose != '' ">purpose,</if>
			<if test="repayDate != null">repay_date,</if>
			<if test="repayStatus != null and repayStatus != '' ">repay_status,</if>
			<if test="borrowerId != null and borrowerId != '' ">borrower_id,</if>
			<if test="projectId != null and projectId != '' ">project_id,</if>
			<if test="treasurerId != null and treasurerId != '' ">treasurer_id,</if>
			<if test="residualAmount != null and residualAmount != '' ">residual_amount,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="remark != null and remark != '' ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="amount != null and amount != ''">#{amount},</if>
			<if test="audStatus != null and audStatus != ''">#{audStatus},</if>
			<if test="borrowNum != null and borrowNum != ''">#{borrowNum},</if>
			<if test="createDate != null">#{createDate},</if>
			<if test="payDate != null">#{payDate},</if>
			<if test="payStatus != null and payStatus != ''">#{payStatus},</if>
			<if test="purpose != null and purpose != ''">#{purpose},</if>
			<if test="repayDate != null">#{repayDate},</if>
			<if test="repayStatus != null and repayStatus != ''">#{repayStatus},</if>
			<if test="borrowerId != null and borrowerId != ''">#{borrowerId},</if>
			<if test="projectId != null and projectId != ''">#{projectId},</if>
			<if test="treasurerId != null and treasurerId != ''">#{treasurerId},</if>
			<if test="residualAmount != null and residualAmount != ''">#{residualAmount},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateBorrows" parameterType="Borrows">
        update borrows
        <trim prefix="SET" suffixOverrides=",">
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="audStatus != null  and audStatus != ''  ">aud_status = #{audStatus},</if>
            <if test="borrowNum != null  and borrowNum != ''  ">borrow_num = #{borrowNum},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="payDate != null ">pay_date = #{payDate},</if>
            <if test="payStatus != null  and payStatus != ''  ">pay_status = #{payStatus},</if>
            <if test="purpose != null  and purpose != ''  ">purpose = #{purpose},</if>
            <if test="repayDate != null ">repay_date = #{repayDate},</if>
            <if test="repayStatus != null  and repayStatus != ''  ">repay_status = #{repayStatus},</if>
            <if test="borrowerId != null ">borrower_id = #{borrowerId},</if>
            <if test="projectId != null ">project_id = #{projectId},</if>
            <if test="treasurerId != null ">treasurer_id = #{treasurerId},</if>
            <if test="residualAmount != null ">residual_amount = #{residualAmount},</if>
            <if test="status != null  and status != '' ">status = #{status},</if>
            <if test="createBy != null  and createBy != '' ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != '' ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != '' ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteBorrowsById" parameterType="Integer">
        delete from borrows where id = #{id}
    </delete>
	
    <delete id="deleteBorrowsByIds" parameterType="String">
        delete from borrows where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>