<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<!-- 日期控件 -->
<link th:href="@{/ajax/libs/datapicker/datepicker3.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-costbills-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">应税劳务：</label>
				<div class="col-sm-8">
					<input id="title" name="title" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属项目：</label>
				<div class="col-sm-8">
					<input id="fileIds" name="fileIds" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">发票类型：</label>
				<div class="col-sm-8">
					<select name="typeId" class="form-control m-b" th:with="type=${@dict.getType('invoiceType')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发票号码：</label>
				<div class="col-sm-8">
					<input id="billNum" name="billNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开票单位：</label>
				<div class="col-sm-8">
					<input id="company" name="company" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
		        <label class="col-sm-3 control-label">开具时间：</label>
		        <div class="col-sm-8">
	                <div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                    <input name="createTime" type="text" class="form-control" value="">
	                </div>
		        </div>
		    </div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金额：</label>
				<div class="col-sm-8">
					<input id="amount" name="amount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">税率：</label>
				<div class="col-sm-8">
					<select name="rate" class="form-control m-b" th:with="type=${@dict.getType('costbill_rate')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">税额：</label>
				<div class="col-sm-8">
					<input id="tax" name="tax" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开票金额：</label>
				<div class="col-sm-8">
					<input id="total" name="total" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴增值税：</label>
				<div class="col-sm-8">
					<input id="pre1" name="pre1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴城建税：</label>
				<div class="col-sm-8">
					<input id="pre2" name="pre2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴地方教育费附加：</label>
				<div class="col-sm-8">
					<input id="pre3" name="pre3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴教育费附加：</label>
				<div class="col-sm-8">
					<input id="pre4" name="pre4" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴印花税：</label>
				<div class="col-sm-8">
					<input id="pre5" name="pre5" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预缴所得税：</label>
				<div class="col-sm-8">
					<input id="pre6" name="pre6" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">附件：</label>
				<div class="col-sm-8">
					
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <!-- 日期控件 -->
   	<script th:src="@{/ajax/libs//datapicker/bootstrap-datepicker.js}"></script>
    <script>
       $(".input-group.date").datepicker({todayBtn: "linked",keyboardNavigation: !1,forceParse: !1,calendarWeeks: !0,autoclose: !0});
   	</script>
    <script type="text/javascript">
		var prefix = ctx + "module/costbills"
		$("#form-costbills-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/addSub", $('#form-costbills-add').serialize());
			}
		});
	</script>
</body>
</html>
